mat-toolbar{
    background-color: #0E1D56;
    color: white;
}

mat-tab{
    color: purple;
    height: 100%;
}
.tab-contenido{
    height: 100%;
}
img{
    display: block;
    margin: auto;
    height: 100px;
    width: 100px;
    padding-top: 20px;
    padding-bottom: 20px;
}
mat-card{
    height: 40px;
    width: 120px;
}
mat-grid-list{
    height: 100%;  
  }
  