<mat-toolbar>Áreas y Lineas de Investigación</mat-toolbar>
<app-mat-toolbar-group-areas></app-mat-toolbar-group-areas>
<mat-tab-group>
    <mat-tab label="Computacion">
        
                <mat-toolbar>a) Sistemas de información</mat-toolbar>
                <mat-grid-list cols = "4"  rowHeight = "fit">
                    <mat-grid-tile>
                        <img src="../../../../../assets/avatarflor.png" alt="">
                        <mat-card>Ing. Alberto Flor Rodriguez</mat-card>
                        </mat-grid-tile>    
                    <mat-grid-tile>
                        <img src="../../../../../assets/avatarflor.png" alt="">
                        <mat-card>Ing. Alberto Flor Rodriguez</mat-card>
                    </mat-grid-tile>    
                    <mat-grid-tile>
                        <img src="../../../../../assets/avatarflor.png" alt="">
                        <mat-card>Ing. Alberto Flor Rodriguez</mat-card>
                    </mat-grid-tile>    
                    <mat-grid-tile>
                        <img src="../../../../../assets/avatarflor.png" alt="">
                        <mat-card>Ing. Alberto Flor Rodriguez</mat-card>
                    </mat-grid-tile>
                    <mat-grid-tile>
                        <img src="../../../../../assets/avatarflor.png" alt="">
                        <mat-card>Ing. Alberto Flor Rodriguez</mat-card>
                    </mat-grid-tile>
                </mat-grid-list>    
                <mat-toolbar>b) Interacción humano computador</mat-toolbar>
                <mat-grid-list cols = "4"  rowHeight = "fit">
                        <mat-grid-tile>
                            <img src="../../../../../assets/avatarflor.png" alt="">
                            <mat-card>Ing. Alberto Flor Rodriguez</mat-card>
                        </mat-grid-tile>    
                        <mat-grid-tile>
                            <img src="../../../../../assets/avatarflor.png" alt="">
                            <mat-card>Ing. Alberto Flor Rodriguez</mat-card>
                        </mat-grid-tile>    
                        <mat-grid-tile>
                            <img src="../../../../../assets/avatarflor.png" alt="">
                            <mat-card>Ing. Alberto Flor Rodriguez</mat-card>
                        </mat-grid-tile>    
                        <mat-grid-tile>
                            <img src="../../../../../assets/avatarflor.png" alt="">
                            <mat-card>Ing. Alberto Flor Rodriguez</mat-card>
                        </mat-grid-tile>
                        <mat-grid-tile>
                            <img src="../../../../../assets/avatarflor.png" alt="">
                            <mat-card>Ing. Alberto Flor Rodriguez</mat-card>
                        </mat-grid-tile>
                    </mat-grid-list>   
                <mat-toolbar>c) Ingeniería de software</mat-toolbar>
                <mat-grid-list cols = "4"  rowHeight = "fit">
                        <mat-grid-tile>
                            <img src="../../../../../assets/avatarflor.png" alt="">
                            <mat-card>Ing. Alberto Flor Rodriguez</mat-card>
                        </mat-grid-tile>    
                        <mat-grid-tile>
                            <img src="../../../../../assets/avatarflor.png" alt="">
                            <mat-card>Ing. Alberto Flor Rodriguez</mat-card>
                        </mat-grid-tile>    
                        <mat-grid-tile>
                            <img src="../../../../../assets/avatarflor.png" alt="">
                            <mat-card>Ing. Alberto Flor Rodriguez</mat-card>
                        </mat-grid-tile>    
                        <mat-grid-tile>
                            <img src="../../../../../assets/avatarflor.png" alt="">
                            <mat-card>Ing. Alberto Flor Rodriguez</mat-card>
                        </mat-grid-tile>
                        <mat-grid-tile>
                            <img src="../../../../../assets/avatarflor.png" alt="">
                            <mat-card>Ing. Alberto Flor Rodriguez</mat-card>
                        </mat-grid-tile>
                    </mat-grid-list>   
                <mat-toolbar>d) Computación gráfica e imágenes</mat-toolbar>
                <mat-grid-list cols = "4"  rowHeight = "fit">
                        <mat-grid-tile>
                            <img src="../../../../../assets/avatarflor.png" alt="">
                            <mat-card>Ing. Alberto Flor Rodriguez</mat-card>
                        </mat-grid-tile>    
                        <mat-grid-tile>
                            <img src="../../../../../assets/avatarflor.png" alt="">
                            <mat-card>Ing. Alberto Flor Rodriguez</mat-card>
                        </mat-grid-tile>    
                        <mat-grid-tile>
                            <img src="../../../../../assets/avatarflor.png" alt="">
                            <mat-card>Ing. Alberto Flor Rodriguez</mat-card>
                        </mat-grid-tile>    
                        <mat-grid-tile>
                            <img src="../../../../../assets/avatarflor.png" alt="">
                            <mat-card>Ing. Alberto Flor Rodriguez</mat-card>
                        </mat-grid-tile>
                        <mat-grid-tile>
                            <img src="../../../../../assets/avatarflor.png" alt="">
                            <mat-card>Ing. Alberto Flor Rodriguez</mat-card>
                        </mat-grid-tile>
                    </mat-grid-list>   
                <mat-toolbar>e) Computación ubicua</mat-toolbar>
                <mat-grid-list cols = "4"  rowHeight = "fit">
                        <mat-grid-tile>
                            <img src="../../../../../assets/avatarflor.png" alt="">
                            <mat-card>Ing. Alberto Flor Rodriguez</mat-card>
                        </mat-grid-tile>    
                        <mat-grid-tile>
                            <img src="../../../../../assets/avatarflor.png" alt="">
                            <mat-card>Ing. Alberto Flor Rodriguez</mat-card>
                        </mat-grid-tile>    
                        <mat-grid-tile>
                            <img src="../../../../../assets/avatarflor.png" alt="">
                            <mat-card>Ing. Alberto Flor Rodriguez</mat-card>
                        </mat-grid-tile>    
                        <mat-grid-tile>
                            <img src="../../../../../assets/avatarflor.png" alt="">
                            <mat-card>Ing. Alberto Flor Rodriguez</mat-card>
                        </mat-grid-tile>
                        <mat-grid-tile>
                            <img src="../../../../../assets/avatarflor.png" alt="">
                            <mat-card>Ing. Alberto Flor Rodriguez</mat-card>
                        </mat-grid-tile>
                    </mat-grid-list>   
                <mat-toolbar>f) Lenguajes de programación</mat-toolbar>
                <mat-grid-list cols = "4"  rowHeight = "fit">
                        <mat-grid-tile>
                            <img src="../../../../../assets/avatarflor.png" alt="">
                            <mat-card>Ing. Alberto Flor Rodriguez</mat-card>
                        </mat-grid-tile>    
                        <mat-grid-tile>
                            <img src="../../../../../assets/avatarflor.png" alt="">
                            <mat-card>Ing. Alberto Flor Rodriguez</mat-card>
                        </mat-grid-tile>    
                        <mat-grid-tile>
                            <img src="../../../../../assets/avatarflor.png" alt="">
                            <mat-card>Ing. Alberto Flor Rodriguez</mat-card>
                        </mat-grid-tile>    
                        <mat-grid-tile>
                            <img src="../../../../../assets/avatarflor.png" alt="">
                            <mat-card>Ing. Alberto Flor Rodriguez</mat-card>
                        </mat-grid-tile>
                        <mat-grid-tile>
                            <img src="../../../../../assets/avatarflor.png" alt="">
                            <mat-card>Ing. Alberto Flor Rodriguez</mat-card>
                        </mat-grid-tile>
                    </mat-grid-list>              
    </mat-tab>
    <mat-tab label="Sistmas Cognitivos"> 
        <mat-toolbar>a) Procesamiento digital de señales</mat-toolbar>
        <mat-grid-list cols = "4"  rowHeight = "fit">
                <mat-grid-tile>
                    <img src="../../../../../assets/avatarflor.png" alt="">
                    <mat-card>Ing. Alberto Flor Rodriguez</mat-card>
                </mat-grid-tile>    
                <mat-grid-tile>
                    <img src="../../../../../assets/avatarflor.png" alt="">
                    <mat-card>Ing. Alberto Flor Rodriguez</mat-card>
                </mat-grid-tile>    
                <mat-grid-tile>
                    <img src="../../../../../assets/avatarflor.png" alt="">
                    <mat-card>Ing. Alberto Flor Rodriguez</mat-card>
                </mat-grid-tile>    
                <mat-grid-tile>
                    <img src="../../../../../assets/avatarflor.png" alt="">
                    <mat-card>Ing. Alberto Flor Rodriguez</mat-card>
                </mat-grid-tile>
                <mat-grid-tile>
                    <img src="../../../../../assets/avatarflor.png" alt="">
                    <mat-card>Ing. Alberto Flor Rodriguez</mat-card>
                </mat-grid-tile>
            </mat-grid-list>    
        <mat-toolbar> b) Sistemas inteligentes</mat-toolbar>
        <mat-grid-list cols = "4"  rowHeight = "fit">
                <mat-grid-tile>
                    <img src="../../../../../assets/avatarflor.png" alt="">
                    <mat-card>Ing. Alberto Flor Rodriguez</mat-card>
                </mat-grid-tile>    
                <mat-grid-tile>
                    <img src="../../../../../assets/avatarflor.png" alt="">
                    <mat-card>Ing. Alberto Flor Rodriguez</mat-card>
                </mat-grid-tile>    
                <mat-grid-tile>
                    <img src="../../../../../assets/avatarflor.png" alt="">
                    <mat-card>Ing. Alberto Flor Rodriguez</mat-card>
                </mat-grid-tile>    
                <mat-grid-tile>
                    <img src="../../../../../assets/avatarflor.png" alt="">
                    <mat-card>Ing. Alberto Flor Rodriguez</mat-card>
                </mat-grid-tile>
                <mat-grid-tile>
                    <img src="../../../../../assets/avatarflor.png" alt="">
                    <mat-card>Ing. Alberto Flor Rodriguez</mat-card>
                </mat-grid-tile>
            </mat-grid-list>    
        <mat-toolbar>c) Robótica y automatización</mat-toolbar>
        <mat-grid-list cols = "4"  rowHeight = "fit">
                <mat-grid-tile>
                    <img src="../../../../../assets/avatarflor.png" alt="">
                    <mat-card>Ing. Alberto Flor Rodriguez</mat-card>
                </mat-grid-tile>    
                <mat-grid-tile>
                    <img src="../../../../../assets/avatarflor.png" alt="">
                    <mat-card>Ing. Alberto Flor Rodriguez</mat-card>
                </mat-grid-tile>    
                <mat-grid-tile>
                    <img src="../../../../../assets/avatarflor.png" alt="">
                    <mat-card>Ing. Alberto Flor Rodriguez</mat-card>
                </mat-grid-tile>    
                <mat-grid-tile>
                    <img src="../../../../../assets/avatarflor.png" alt="">
                    <mat-card>Ing. Alberto Flor Rodriguez</mat-card>
                </mat-grid-tile>
                <mat-grid-tile>
                    <img src="../../../../../assets/avatarflor.png" alt="">
                    <mat-card>Ing. Alberto Flor Rodriguez</mat-card>
                </mat-grid-tile>
            </mat-grid-list>    
    </mat-tab>
    <mat-tab label="Plataforma de TIC">
        <mat-toolbar>a) Redes TIC</mat-toolbar>
        <mat-grid-list cols = "4"  rowHeight = "fit">
                <mat-grid-tile>
                    <img src="../../../../../assets/avatarflor.png" alt="">
                    <mat-card>Ing. Alberto Flor Rodriguez</mat-card>
                </mat-grid-tile>    
                <mat-grid-tile>
                    <img src="../../../../../assets/avatarflor.png" alt="">
                    <mat-card>Ing. Alberto Flor Rodriguez</mat-card>
                </mat-grid-tile>    
                <mat-grid-tile>
                    <img src="../../../../../assets/avatarflor.png" alt="">
                    <mat-card>Ing. Alberto Flor Rodriguez</mat-card>
                </mat-grid-tile>    
                <mat-grid-tile>
                    <img src="../../../../../assets/avatarflor.png" alt="">
                    <mat-card>Ing. Alberto Flor Rodriguez</mat-card>
                </mat-grid-tile>
                <mat-grid-tile>
                    <img src="../../../../../assets/avatarflor.png" alt="">
                    <mat-card>Ing. Alberto Flor Rodriguez</mat-card>
                </mat-grid-tile>
            </mat-grid-list>    
        <mat-toolbar>b) Internet de las cosas</mat-toolbar>
        <mat-grid-list cols = "4"  rowHeight = "fit">
                <mat-grid-tile>
                    <img src="../../../../../assets/avatarflor.png" alt="">
                    <mat-card>Ing. Alberto Flor Rodriguez</mat-card>
                </mat-grid-tile>    
                <mat-grid-tile>
                    <img src="../../../../../assets/avatarflor.png" alt="">
                    <mat-card>Ing. Alberto Flor Rodriguez</mat-card>
                </mat-grid-tile>    
                <mat-grid-tile>
                    <img src="../../../../../assets/avatarflor.png" alt="">
                    <mat-card>Ing. Alberto Flor Rodriguez</mat-card>
                </mat-grid-tile>    
                <mat-grid-tile>
                    <img src="../../../../../assets/avatarflor.png" alt="">
                    <mat-card>Ing. Alberto Flor Rodriguez</mat-card>
                </mat-grid-tile>
                <mat-grid-tile>
                    <img src="../../../../../assets/avatarflor.png" alt="">
                    <mat-card>Ing. Alberto Flor Rodriguez</mat-card>
                </mat-grid-tile>
            </mat-grid-list>    
        <mat-toolbar>c) Redes de energía</mat-toolbar>
        <mat-grid-list cols = "4"  rowHeight = "fit">
                <mat-grid-tile>
                    <img src="../../../../../assets/avatarflor.png" alt="">
                    <mat-card>Ing. Alberto Flor Rodriguez</mat-card>
                </mat-grid-tile>    
                <mat-grid-tile>
                    <img src="../../../../../assets/avatarflor.png" alt="">
                    <mat-card>Ing. Alberto Flor Rodriguez</mat-card>
                </mat-grid-tile>    
                <mat-grid-tile>
                    <img src="../../../../../assets/avatarflor.png" alt="">
                    <mat-card>Ing. Alberto Flor Rodriguez</mat-card>
                </mat-grid-tile>    
                <mat-grid-tile>
                    <img src="../../../../../assets/avatarflor.png" alt="">
                    <mat-card>Ing. Alberto Flor Rodriguez</mat-card>
                </mat-grid-tile>
                <mat-grid-tile>
                    <img src="../../../../../assets/avatarflor.png" alt="">
                    <mat-card>Ing. Alberto Flor Rodriguez</mat-card>
                </mat-grid-tile>
            </mat-grid-list>    
        <mat-toolbar>d) Circuitos y sistemas electrónicos</mat-toolbar>
        <mat-grid-list cols = "4"  rowHeight = "fit">
                <mat-grid-tile>
                    <img src="../../../../../assets/avatarflor.png" alt="">
                    <mat-card>Ing. Alberto Flor Rodriguez</mat-card>
                </mat-grid-tile>    
                <mat-grid-tile>
                    <img src="../../../../../assets/avatarflor.png" alt="">
                    <mat-card>Ing. Alberto Flor Rodriguez</mat-card>
                </mat-grid-tile>    
                <mat-grid-tile>
                    <img src="../../../../../assets/avatarflor.png" alt="">
                    <mat-card>Ing. Alberto Flor Rodriguez</mat-card>
                </mat-grid-tile>    
                <mat-grid-tile>
                    <img src="../../../../../assets/avatarflor.png" alt="">
                    <mat-card>Ing. Alberto Flor Rodriguez</mat-card>
                </mat-grid-tile>
                <mat-grid-tile>
                    <img src="../../../../../assets/avatarflor.png" alt="">
                    <mat-card>Ing. Alberto Flor Rodriguez</mat-card>
                </mat-grid-tile>
            </mat-grid-list>    
        <mat-toolbar>e) Base de Datos e Inteligencia de negocios</mat-toolbar>
        <mat-grid-list cols = "4"  rowHeight = "fit">
                <mat-grid-tile>
                    <img src="../../../../../assets/avatarflor.png" alt="">
                    <mat-card>Ing. Alberto Flor Rodriguez</mat-card>
                </mat-grid-tile>    
                <mat-grid-tile>
                    <img src="../../../../../assets/avatarflor.png" alt="">
                    <mat-card>Ing. Alberto Flor Rodriguez</mat-card>
                </mat-grid-tile>    
                <mat-grid-tile>
                    <img src="../../../../../assets/avatarflor.png" alt="">
                    <mat-card>Ing. Alberto Flor Rodriguez</mat-card>
                </mat-grid-tile>    
                <mat-grid-tile>
                    <img src="../../../../../assets/avatarflor.png" alt="">
                    <mat-card>Ing. Alberto Flor Rodriguez</mat-card>
                </mat-grid-tile>
                <mat-grid-tile>
                    <img src="../../../../../assets/avatarflor.png" alt="">
                    <mat-card>Ing. Alberto Flor Rodriguez</mat-card>
                </mat-grid-tile>
            </mat-grid-list>    
        <mat-toolbar>f) Infraestructura de TIC</mat-toolbar>
        <mat-grid-list cols = "4"  rowHeight = "fit">
                <mat-grid-tile>
                    <img src="../../../../../assets/avatarflor.png" alt="">
                    <mat-card>Ing. Alberto Flor Rodriguez</mat-card>
                </mat-grid-tile>    
                <mat-grid-tile>
                    <img src="../../../../../assets/avatarflor.png" alt="">
                    <mat-card>Ing. Alberto Flor Rodriguez</mat-card>
                </mat-grid-tile>    
                <mat-grid-tile>
                    <img src="../../../../../assets/avatarflor.png" alt="">
                    <mat-card>Ing. Alberto Flor Rodriguez</mat-card>
                </mat-grid-tile>    
                <mat-grid-tile>
                    <img src="../../../../../assets/avatarflor.png" alt="">
                    <mat-card>Ing. Alberto Flor Rodriguez</mat-card>
                </mat-grid-tile>
                <mat-grid-tile>
                    <img src="../../../../../assets/avatarflor.png" alt="">
                    <mat-card>Ing. Alberto Flor Rodriguez</mat-card>
                </mat-grid-tile>
            </mat-grid-list>    
    </mat-tab>
    <mat-tab label="Variabilidad climática y Cambio climático">
        <mat-toolbar>Adaptacion</mat-toolbar>
        <mat-grid-list cols = "4"  rowHeight = "fit">
                <mat-grid-tile>
                    <img src="../../../../../assets/avatarflor.png" alt="">
                    <mat-card>Ing. Alberto Flor Rodriguez</mat-card>
                </mat-grid-tile>    
                <mat-grid-tile>
                    <img src="../../../../../assets/avatarflor.png" alt="">
                    <mat-card>Ing. Alberto Flor Rodriguez</mat-card>
                </mat-grid-tile>    
                <mat-grid-tile>
                    <img src="../../../../../assets/avatarflor.png" alt="">
                    <mat-card>Ing. Alberto Flor Rodriguez</mat-card>
                </mat-grid-tile>    
                <mat-grid-tile>
                    <img src="../../../../../assets/avatarflor.png" alt="">
                    <mat-card>Ing. Alberto Flor Rodriguez</mat-card>
                </mat-grid-tile>
                <mat-grid-tile>
                    <img src="../../../../../assets/avatarflor.png" alt="">
                    <mat-card>Ing. Alberto Flor Rodriguez</mat-card>
                </mat-grid-tile>
            </mat-grid-list>    
        <mat-toolbar>Variabilidad</mat-toolbar>
        <mat-grid-list cols = "4"  rowHeight = "fit">
                <mat-grid-tile>
                    <img src="../../../../../assets/avatarflor.png" alt="">
                    <mat-card>Ing. Alberto Flor Rodriguez</mat-card>
                </mat-grid-tile>    
                <mat-grid-tile>
                    <img src="../../../../../assets/avatarflor.png" alt="">
                    <mat-card>Ing. Alberto Flor Rodriguez</mat-card>
                </mat-grid-tile>    
                <mat-grid-tile>
                    <img src="../../../../../assets/avatarflor.png" alt="">
                    <mat-card>Ing. Alberto Flor Rodriguez</mat-card>
                </mat-grid-tile>    
                <mat-grid-tile>
                    <img src="../../../../../assets/avatarflor.png" alt="">
                    <mat-card>Ing. Alberto Flor Rodriguez</mat-card>
                </mat-grid-tile>
                <mat-grid-tile>
                    <img src="../../../../../assets/avatarflor.png" alt="">
                    <mat-card>Ing. Alberto Flor Rodriguez</mat-card>
                </mat-grid-tile>
            </mat-grid-list>    
    </mat-tab>
    <mat-tab label="Calidad Ambiental">
        <mat-toolbar>a) Remediación y recuperación de ambientes degradados</mat-toolbar>
        <mat-grid-list cols = "4"  rowHeight = "fit">
                <mat-grid-tile>
                    <img src="../../../../../assets/avatarflor.png" alt="">
                    <mat-card>Ing. Alberto Flor Rodriguez</mat-card>
                </mat-grid-tile>    
                <mat-grid-tile>
                    <img src="../../../../../assets/avatarflor.png" alt="">
                    <mat-card>Ing. Alberto Flor Rodriguez</mat-card>
                </mat-grid-tile>    
                <mat-grid-tile>
                    <img src="../../../../../assets/avatarflor.png" alt="">
                    <mat-card>Ing. Alberto Flor Rodriguez</mat-card>
                </mat-grid-tile>    
                <mat-grid-tile>
                    <img src="../../../../../assets/avatarflor.png" alt="">
                    <mat-card>Ing. Alberto Flor Rodriguez</mat-card>
                </mat-grid-tile>
                <mat-grid-tile>
                    <img src="../../../../../assets/avatarflor.png" alt="">
                    <mat-card>Ing. Alberto Flor Rodriguez</mat-card>
                </mat-grid-tile>
            </mat-grid-list>    
        <mat-toolbar>b) Niveles de contaminación ambiental, Manejo de residuos</mat-toolbar>
        <mat-grid-list cols = "4"  rowHeight = "fit">
                <mat-grid-tile>
                    <img src="../../../../../assets/avatarflor.png" alt="">
                    <mat-card>Ing. Alberto Flor Rodriguez</mat-card>
                </mat-grid-tile>    
                <mat-grid-tile>
                    <img src="../../../../../assets/avatarflor.png" alt="">
                    <mat-card>Ing. Alberto Flor Rodriguez</mat-card>
                </mat-grid-tile>    
                <mat-grid-tile>
                    <img src="../../../../../assets/avatarflor.png" alt="">
                    <mat-card>Ing. Alberto Flor Rodriguez</mat-card>
                </mat-grid-tile>    
                <mat-grid-tile>
                    <img src="../../../../../assets/avatarflor.png" alt="">
                    <mat-card>Ing. Alberto Flor Rodriguez</mat-card>
                </mat-grid-tile>
                <mat-grid-tile>
                    <img src="../../../../../assets/avatarflor.png" alt="">
                    <mat-card>Ing. Alberto Flor Rodriguez</mat-card>
                </mat-grid-tile>
            </mat-grid-list>    
    </mat-tab>
    <mat-tab label="Ecosistemas y recursos naturales">
        <mat-toolbar>a) Ecosistemas y servicios ecosistémicos</mat-toolbar>
        <mat-toolbar>b) Recursos hídricos, energías renovables</mat-toolbar>
    </mat-tab>
    <mat-tab label="Gestión de riesgos">
        <mat-toolbar>a) Sismos</mat-toolbar>
        <mat-toolbar>b) Peligro, vulnerabilidad y riesgos en obras civiles</mat-toolbar>
        <mat-toolbar>c) Eventos extremos climáticos e hidrológicos</mat-toolbar>
        <mat-toolbar>d) Erosión, transporte de sedimentos</mat-toolbar>
        <mat-toolbar>e) Movimientos en masa</mat-toolbar>
    </mat-tab>
    <mat-tab label="Biotecnología">
        <mat-toolbar>a) Biofertilizantes</mat-toolbar>
        <mat-toolbar>b) Biorremediación</mat-toolbar>
    </mat-tab>
    <mat-tab label="Productos y servicios">
        <mat-toolbar> Procesamiento y eficiencia industrial</mat-toolbar>
    </mat-tab>
  </mat-tab-group>
