mat-toolbar{
    background-color: #0E1D56;
    color: white;
}
mat-grid-list{
  height: 100%;  
}
mat-card{
    width: 100%;
    height: 100%;
}
mat-card-subtitle{
    text-align: justify;
}
img{
    height: 50%;
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;    
}