<mat-toolbar>Mis Logros</mat-toolbar>
<mat-grid-list cols = "4"  rowHeight = "fit">
    <mat-grid-tile>
            <mat-card>
                <img  mat-card-image  src = "../../../../../assets/svg/001-first-place.svg"> 
                <mat-card-subtitle>El proyecto es original y no duplica otros esfuerzos en investigacion que se realizan en el pais.</mat-card-subtitle>
            </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
            <mat-card>
                    <img  mat-card-image  src = "../../../../../assets/svg/002-silver-medal.svg"> 
                    <mat-card-subtitle>La propuesta contribuye a abrir otras posibilidades de investigacion.</mat-card-subtitle>
            </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
            <mat-card>
                    <img  mat-card-image  src = "../../../../../assets/svg/003-bronze-medal.svg"> 
                    <mat-card-subtitle>Es posible medir el efecto/impacto de los resultados.</mat-card-subtitle>
            </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
            <mat-card>
                    <img  mat-card-image  src = "../../../../../assets/svg/004-medal.svg"> 
                    <mat-card-subtitle>El cronograma de ejecucion es menor de 2 a&ntilde;os</mat-card-subtitle>
            </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
            <mat-card>
                    <img  mat-card-image  src = "../../../../../assets/svg/005-medal-1.svg"> 
                    <mat-card-subtitle>Incentiva la investigacion cientifica para el desarrollo tecnologico e innovacion.</mat-card-subtitle>
            </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-card>
                <img  mat-card-image  src = "../../../../../assets/svg/006-gold-medal.svg"> 
                <mat-card-subtitle>Incentiva la investigacion cientifica para el desarrollo tecnologico e innovacion.</mat-card-subtitle>
        </mat-card>
</mat-grid-tile>
<mat-grid-tile>
        <mat-card>
                <img  mat-card-image  src = "../../../../../assets/svg/007-silver-medal-1.svg"> 
                <mat-card-subtitle>Incentiva la investigacion cientifica para el desarrollo tecnologico e innovacion.</mat-card-subtitle>
        </mat-card>
</mat-grid-tile>
<mat-grid-tile>
        <mat-card>
                <img  mat-card-image  src = "../../../../../assets/svg/008-bronze-medal-1.svg"> 
                <mat-card-subtitle>Incentiva la investigacion cientifica para el desarrollo tecnologico e innovacion.</mat-card-subtitle>
        </mat-card>
</mat-grid-tile>
<mat-grid-tile>
        <mat-card>
                <img  mat-card-image  src = "../../../../../assets/svg/009-winner.svg"> 
                <mat-card-subtitle>Incentiva la investigacion cientifica para el desarrollo tecnologico e innovacion.</mat-card-subtitle>
        </mat-card>
</mat-grid-tile>
</mat-grid-list>
<footer>
    <div>Icons made by <a href="https://www.flaticon.es/autores/freepik" title="Freepik">Freepik</a> from <a href="https://www.flaticon.es/"     title="Flaticon">www.flaticon.com</a></div>
</footer>