<mat-toolbar >
    <span>Net.UPT.edu.pe</span>    
    <span class="test"></span>    
    <span>Usuario: Calle Cortez, Gary | Ayuda | Finalizar | Hora del sistema: 16:20:00</span>    
</mat-toolbar>
<!--Sidenav-->
<mat-sidenav-container autosize>
    <mat-sidenav mode="side" opened>
   <mat-nav-list >
     
      <a mat-list-item routerLinkActive="list-item-active"> <mat-icon>keyboard_arrow_right</mat-icon>Inicio</a>
      <mat-divider></mat-divider>
      <a mat-list-item routerLinkActive="list-item-active"><mat-icon>keyboard_arrow_right</mat-icon>Academico</a>
      <mat-divider></mat-divider>
      <a mat-list-item routerLinkActive="list-item-active"><mat-icon>keyboard_arrow_right</mat-icon>Office365@Edu</a>
      <mat-divider></mat-divider>
      <a mat-list-item routerLinkActive="list-item-active"><mat-icon>keyboard_arrow_right</mat-icon>Convenio Microsoft</a>
      <mat-divider></mat-divider>
      <a mat-list-item routerLinkActive="list-item-active"><mat-icon>keyboard_arrow_right</mat-icon>Alumno</a>
      <mat-divider></mat-divider>
      <a mat-list-item routerLinkActive="list-item-active"><mat-icon>keyboard_arrow_right</mat-icon>Aula Virtual</a>
      <mat-divider></mat-divider>      
      <a mat-list-item routerLinkActive="list-item-active" (click)="asesoria()" ><mat-icon>keyboard_arrow_right</mat-icon>Asesoria de Tesis</a>
      <mat-divider></mat-divider>
      <a mat-list-item routerLinkActive="list-item-active"><mat-icon>keyboard_arrow_right</mat-icon>Comprobantes Electrónicos</a>
      <mat-divider></mat-divider>     
      <a mat-list-item routerLinkActive="list-item-active"><mat-icon>keyboard_arrow_right</mat-icon>Biblioteca</a>
      <mat-divider></mat-divider>
      <a mat-list-item routerLinkActive="list-item-active"><mat-icon>keyboard_arrow_right</mat-icon>Seguro Estudiantil</a>
      <mat-divider></mat-divider>
      <a mat-list-item routerLinkActive="list-item-active"><mat-icon>keyboard_arrow_right</mat-icon>Recorrido de Buses</a>
      <mat-divider></mat-divider>
      <a mat-list-item routerLinkActive="list-item-active"><mat-icon>keyboard_arrow_right</mat-icon>Reglamento y Directivas</a>
      <mat-divider></mat-divider>
      <a mat-list-item routerLinkActive="list-item-active"><mat-icon>keyboard_arrow_right</mat-icon>Becas y Subvenciones</a>
      <mat-divider></mat-divider>
   </mat-nav-list>
    </mat-sidenav>    
    <mat-sidenav-content>
      <img src="../../../assets/WhatsApp Image 2019-10-09 at 1.01.57 AM.jpeg" alt="">
    </mat-sidenav-content>
  </mat-sidenav-container>