mat-toolbar{
    background-color: #0E1D56;
    color: white;
}
.test{
    flex: 1 1 auto;
}
span{
    padding-left: 50px;
}
mat-sidenav-container {
    position: -webkit-sticky;
    height: 100%;
    background: #eee;
  }
  mat-divider{
      background-color: #F7B016;
  }
  
