
mat-divider{
    background-color: #F7B016;
}
img{
    display: block;
    margin: auto;
    height: 130px;
    width: 130px;
    padding-top: 20px;
    padding-bottom: 20px;
}
h3,h4{    
    margin: auto;
    text-align: center;    
  }
h4{
      padding-bottom: 5%;
  }
mat-icon{
      padding-right: 5%;
  }