
    <mat-nav-list >
      <img src="../../../assets/avatar.jpg" alt="Avatar">
      <h3>Calle Cortez, Gary Joseph</h3>
      <h4>2013000664</h4>
      <mat-divider></mat-divider>
       <a mat-list-item routerLinkActive="list-item-active"  routerLink="especialidades"> <mat-icon>view_list</mat-icon>Áreas y Lineas de Investigación</a>
       <mat-divider></mat-divider>
       <a mat-list-item routerLinkActive="list-item-active" routerLink="mislogros"><mat-icon>star</mat-icon>Mis Logros</a>
       <mat-divider></mat-divider>
       <a mat-list-item routerLinkActive="list-item-active" routerLink="requisitos"><mat-icon>info</mat-icon>Requisitos</a>
       <mat-divider></mat-divider>
       <a mat-list-item routerLinkActive="list-item-active" routerLink="mitesis"><mat-icon>school</mat-icon>Mi Tesis</a>
       <mat-divider></mat-divider>            
    </mat-nav-list>
      