<mat-toolbar>Requisitos</mat-toolbar>
<mat-card>
<div class="contenido">
<h1>DEL GRADO ACADÉMICO DE BACHILLER</h1>
<h2>La Facultad de Ingeniería aprueba los siguientes</h2>
<h3>Grados Académicos:</h3>
<ul>
    <li>Bachiller en Ingeniería de Sistemas</li>
    <li>Bachiller en Ingeniería Electrónica</li>
    <li>Bachiller en Ingeniería Civil</li>
    <li>Bachiller en Ingeniería Agroindustrial</li>
    <li>Bachiller en Ingeniería Ambiental</li>
    <li>Bachiller en Ingeniería Industrial</li>
    <li>Bachiller en Ingeniería Eléctrica</li>
    <li>Bachiller en Ingeniería Teleinformática</li>
</ul>

<h3>Para la obtención del Grado de Bachiller, se presentará</h3>
<p>  un trabajo de investigación: investigación aplicada
dentro de las líneas de investigación de la Facultad, el
cual deberá pertenecer al ámbito de la Escuela
Profesional, basado en los objetivos de su estructura
curricular. Será de carácter público, y sustentado ante
un jurado.</p>
<h2> DE LA GRADUACIÓN POR TRABAJO DE
INVESTIGACIÓN</h2>
<p> El Trabajo de Investigación podrá ser desarrollada
hasta por dos (02) egresados o estudiantes de los tres
(03) últimos ciclos, según la naturaleza y complejidad
del mismo, para lo cual presentarán un Plan del Trabajo </p>
</div>
</mat-card>